#!/bin/bash

XDG_CONFIG_HOME=${XDG_CONFIG_HOME:-~/.config}

# Allow users to override command-line options.
if [[ -f $XDG_CONFIG_HOME/swarf-terminal@@CHANNEL_SUFFIX@@-flags.conf ]]; then
    SWARF_USER_FLAGS="$(grep -v '^#' $XDG_CONFIG_HOME/swarf-terminal@@CHANNEL_SUFFIX@@-flags.conf)"
fi

exec /opt/swarf/swarf-terminal@@CHANNEL_SUFFIX@@/@@BINARY_NAME@@ $SWARF_USER_FLAGS "$@"
